@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="d-flex flex-column vh-100 bg-white text-dark m-3 p-3">
    <NavMenu />

    <main class="card shadow-lg rounded-4 p-4 bg-light text-dark mb-5 d-flex flex-column"
          style="height: 85vh; overflow-y: auto; overflow-x: hidden;">
        @Body
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter"
                ShowCloseButton="true"
                ShowProgressBar="true"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toasts-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>
