@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="d-flex flex-column vh-100 bg-white text-dark p-3">
    <NavMenu />

    <main
        class="card shadow-lg rounded-4 p-1 p-md-3 bg-light text-dark d-flex flex-column justify-content-center align-items-center">
        @Body
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter" ShowCloseButton="true" ShowProgressBar="true"
    IconType="IconType.FontAwesome" SuccessClass="success-toasts-override" SuccessIcon="fa fa-thumbs-up"
    ErrorIcon="fa fa-bug" />
