@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="container d-flex flex-column vh-100 bg-white text-dark">
    <NavMenu /> 
    <main class="flex-grow-1 d-flex justify-content-md-center align-items-center">
        <article class="card shadow-lg rounded-4 p-4 bg-light text-dark mx-auto my-auto"> 
            @Body
        </article>
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopLeft"
                ShowCloseButton="true"
                ShowProgressBar="true"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toasts-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>