@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="d-flex flex-column vh-100 bg-white text-dark m-3 p-3">
    <NavMenu></NavMenu>
    <main class="flex-grow-1 d-flex justify-content-center align-items-center
                 card shadow-lg rounded-4 p-4 bg-light text-dark main-fixed-content-area mb-5">
        @Body
    </main>
</div>

<BlazoredToasts Position="ToastPosition.TopCenter"
                ShowCloseButton="true"
                ShowProgressBar="true"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toasts-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"/>
