@page "/"

@rendermode RenderMode.InteractiveServer

<AuthorizeView>
    <NotAuthorized>
        <div class="text-center">
            <div class="m-2">
                <a class="btn btn-secondary m-2" role="button" href="/login">Login</a>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="m-2">
            <h1>Welcome to the Home Page</h1>
            <p>This is a protected area. You are logged in!</p>
            <JokesTable></JokesTable>
        </div> 
    </Authorized>
</AuthorizeView>


@code {
 
}