@page "/"
@using Anekdotify.Frontend.Components.Pages.Login
@rendermode RenderMode.InteractiveServer
@inject IToastService ToastService
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <NotAuthorized>
        <div class="text-center">
            <div class="m-2">
                <Login></Login>
            </div>
        </div>
    </NotAuthorized>
    <Authorized>
        <div class="m-2">
            <JokeDisplayPage></JokeDisplayPage>
        </div> 
    </Authorized>
</AuthorizeView>


@code {

    private bool _toastShownForAuthorized = false;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated == true && !_toastShownForAuthorized)
        {
            ShowToast();
            _toastShownForAuthorized = true;
        }
        else if (user.Identity?.IsAuthenticated == false || _toastShownForAuthorized)
        {
            _toastShownForAuthorized = false;
        }
    }

    private void ShowToast()
    {
        ToastService.ShowSuccess("Welcome to Anekdotify! Yoy are logged in");
    }
}