@rendermode RenderMode.InteractiveServer

@if (isLoading)
{
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
else if (errorMessage != null)
{
    <p class="text-danger">Error: @errorMessage</p>
    <button class="btn btn-primary" @onclick="LoadJokes">Try Again</button>
}
else if (jokes != null && jokes.Any())
{
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 w-100">
        @foreach (var joke in jokes)
        {
            <div class="col">
                <JokeCard Joke="@joke.ToDTOFromPreviewDTO()"/>
            </div>
        }
    </div>
}
else
{
    <p>No jokes found. Maybe log in?</p>
}
