@page "/"

<PageTitle>Home</PageTitle>

<div class="m-2">
    <a class="btn btn-primary m-2" role="button" href="/editJoke" >New Joke</a>
    <a class="btn btn-secondary" role="button" href="/newComment">New Comment</a>
</div>

<JokesTable @rendermode="RenderMode.InteractiveServer"></JokesTable>
